# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Build files
dist/
build/

# Logs
logs/
*.log

# Cache & Temporary files
.cache/
public/
.out/
.next/
coverage/

# IDE / Editor files
.vscode/
.idea/
.DS_Store
