# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
debug.log
pids/
*.pid
*.seed
*.pid.lock

# Build files
dist/
build/

# IDE / Editor files
.vscode/
.idea/
.DS_Store

# Misc
coverage/
